<div class="greeting-container">
  <h1>&#x1F973; Happy Birthday, Yamin  &#x1F973;</h1>
  <p>Wishing you a wonderfull married life fill with joy and laughter!</p>

  <button (click)="openGift()" (click)="playAnimation()">Click to Celebrate!</button>
  
  <div class="gift-box" >
    <img src="../assets/birthday_pic.jpg" alt="Picture of a gift box"/>
  </div>

  <p class ="gift-message"*ngIf="show4KText">4K Kab dega bc?</p>
</div>
<div class="animation" *ngIf="showAnimation">
  <div class="ballon" *ngFor="let ballon of ballons" [ngStyle]="{'left' : getRandomPosition() + 'px', 'bottom': genRandom() * 100 + 'px'}">

  </div>
  <div class="confetti" *ngFor="let confetti of confettis" [ngStyle]="{
   left: confetti.left,
   animationDelay: confetti.delay,
   animationDuration: confetti.duration
  }"></div>
</div>